<div class="container">
  <%= cl_image_tag("z0tftffmpd9sfygk8ef4",
      width: 200, height: 200, crop: :fill) %>
  <br>
  <h2>All our cocktails (<%= @cocktails.length %>)</h2>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <div class="card" style="background-image:
        linear-gradient(
        url('<%= cl_image_path cocktail.photo.key %>'
        )">
          <h3><%= cocktail.name %></h3>
          <button type="button" class="btn btn-outline-primary" id="more-info">
            <%= link_to 'More info', cocktail_path(cocktail) %>
          </button>
        </div>

      <% else %>
        <div class="card">
          <h3><%= cocktail.name %></h3>
          <button type="button" class="btn btn-outline-primary" id="more-info">
            <%= link_to 'More info', cocktail_path(cocktail) %>
          </button>
        </div>
      <% end %>

    <% end %>
  </div>

  <br>

  <button type="button" class="btn btn-outline-success">
    <%= link_to 'Add a cocktail', new_cocktail_path %>
  </button>
</div>
