<div class="container">
  <br>
  <h2><%= @cocktail.name %></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Quaerat atque, quidem pariatur quasi quo expedita minus sint dolorem molestias?
  Dignissimos neque non eligendi adipisci corrupti repudiandae, aspernatur,
  hic quis deleniti!</p>
  <button type="button" class="btn btn-outline-primary">
    <%= link_to 'Back to menu', cocktails_path %>
  </button>

  <br>
  <br>

  <button type="button" class="btn btn-outline-success">
    <%= link_to 'Add an ingredient and dosage', new_cocktail_dose_path(@cocktail) %>
  </button>

  <br>
  <br>

  <% @doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Destroy", dose_path(dose), method: :delete %></li>
  <% end %>

</div>

