<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        Mister Cocktail 🎉
      </a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/cocktails/new">Add a cocktail <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/jannatshah"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/jannatshah"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/jannatshah/"><i class="fab fa-linkedin"></i></a>
        <a href="https://angel.co/jannatshah"><i class="fab fa-angellist"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> by Jannat Shah at Le Wagon
      </div>
    </div>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
